*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration: revert;
    color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.d-flex {
    display: flex;
}

.mark-h3 {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 30px;
}

.sufety__check-mark {
    margin-right: 22px;
}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.article_wordpress .container {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    background: #F6F1EB;
}

.section {
    padding-left: 186px;
    padding-right: 186px;
    padding-top: 100px;
}

.safety__sector-content-2,
.safety__sector-content-3,
.safety__sector-content-4 {
    background: #FBF6F3;
}

h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;

}

.safety__sector-content-1 {
    margin-bottom: 100px;
}

.safety__sector-content-1 h2 {
    font-weight: 600;
    font-size: 68.785px;
    line-height: 110%;
}

.safety__sector-content-1  {
    font-weight: 600;
    font-size: 52px;
    line-height: 160%;
    padding-bottom: 47px;
}

.safety__sector-content-1 p {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
}

.safety_preview-block {
    min-width: 360px;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
}

.bleu {
    color: #00A2E8;
}

.safety_btn-scroll {
    display: block;
    cursor: pointer;
    margin-top: 70px;
    transition: ease transform 0.1s;
    width: 68px;
    height: 68px;
}

.safety_btn-scroll:hover {
    transform: scale(1.04);
}

/* block 2 */

.safety__sector-content-2 {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.block-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin-bottom: 30px;
}

.safety__sector-content-2 p {
    margin-bottom: 47px;
}

.aware__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -40px;
}

.aware__item {
    padding: 42px;
    background: #F6F1EB;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-bottom: 40px;
}

.aware__item:nth-child(1) { width: 100%; }
.aware__item:nth-child(2) { width: calc(50% - 20px); }
.aware__item:nth-child(3) { width: calc(50% - 20px); }
.aware__item:nth-child(4) { width: calc(60% - 20px); }
.aware__item:nth-child(5) { width: calc(40% - 20px); }

.aware__item:nth-child(even) { margin-right: 40px; }

.aware__item .item__title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #000000;
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.aware__icon {
    margin-right: 22px;
}

.aware__item .item__description {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}


/* block 3 */

.safety__sector-content-3 {
    padding-bottom: 115px;
}

.safety__sector-content-3 .safety-holder h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    margin: 0 0 48px 0;
}

.safety__sector-content-3 .safety-holder h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    margin: 12px 0;
}

/* slider */

.slider__items {
    display: flex;
    padding-bottom: 14px;
}

.slider__item {
    background: #F6F1EB;
    border: 1.99296px solid #000000;
    box-shadow: 4.98241px 4.98241px 0 #000000;
    border-radius: 20px;
    padding: 33px;
    max-width: 550px;
    height: 1060px;
    width: 100%;
}

.slider__items:last-child .img-check {
    margin-top: 26px;
}

.slider_date {
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    color: #00A2E8;
    text-align: end;
}

.slider__navigation {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
}

.swiper {
    padding-right: 6px;
}

.swiper-button-disabled {
    display: none;
}



/* block 4 */

.safety__sector-content-4 {
    padding-bottom: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.safety__sector-content-4 h3 {
    margin-bottom: 36px;
}

.safety__grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    align-items: center;
}

.grid-item {
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 15px;
    max-height: 102px;
}

.item1,
.item11 {
    background: #F4F4F4;
}

.item2,
.item7,
.item9 {
    background: #FCBFBF;
}

.item3,
.item5 {
    background: #C8FFC7;
}

.item4,
.item6 {
    background: #FFEAA1;
}

.item8,
.item10 {
    background: #ACBFFF;
}

.item12 {
    padding: 0;
    cursor: pointer;
    border: none;
    transition: ease transform 0.1s;
}

.item12:hover {
    transform: scale(1.04);
}

/* block 5 */


.safety_content-block__item {
    display: flex;
}

.safety__sector-content-5 p {
    margin: 0 0 35px 0;
}

.safety__sector-content-5 .safety_preview-block {
    min-width: auto;
    width: auto;
    float: left;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.safety__sector-content-5 .safety_preview-block img:first-child {
    margin-left: 60px;
}

.safety__sector-content-5 .safety_preview-block img + img {
    margin-top: 28px;
}

.safety__sector-content-5 .big-font-5 {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #00A2E8;
    margin-right: 12px;
}

.big-font {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #00A2E8;
    margin: 30px 0;
}

/* block 6 */

.safety__sector-content-6 {
    margin-bottom: 70px;
}

.safety__sector-content-6 .safety_holder > div {
    width: 50%;
}

.safety__sector-content-6 .title {
    font-size: 40px;
}

.safety__sector-content-6 h3 {
    margin-bottom: 22px;
    font-size: 30px;
}

.safety_text-block {
    background: #FBF6F3;
    border: 2px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    border-radius: 20px;
    padding: 45px 55px 55px;
}

.safety_text-block p {
    margin: 22px 0;
}

/* block 7 */

.safety__sector-content-7 .safety_text-block {
    background: #FBF6F3;
    border: 1.99296px solid #000000;
    box-shadow: 4.98241px 4.98241px 0 #000000;
    border-radius: 19.9296px;
    width: 100%;
}

.safety__sector-content-7 .safety_text-block + .safety_text-block {
    margin-left: 42px;
}

.safety__sector-content-7 p {
    margin: 23px 0 32px;
}

/* block 8 */

.safety__sector-content-8 {
    margin-top: 120px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: #FBF6F3;
}

.safety__sector-content-8 .safety_info {
    margin-top: 45px;
}

.safety__sector-content-8 .safety_content-block {
     margin-right: 75px;
 }

.safety__sector-content-8 .safety_content-block p {
    margin-top: 14px;
}

.safety__sector-content-8 .safety_content-block p:nth-child(2) {
    margin-bottom: 38px;
}

.safety-title {
    margin-bottom: 20px;
}

.safety__sector-content-1 .safety_info-title {
    margin: 0 0 47px;
    font-weight: 600;
    font-size: 52px;
    line-height: 160%;
}

.safety__sector-content-1 p:nth-child(3) {
    margin-bottom: 23px;
}

.safety_content-block h3 {
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
}

/* block 9 */

.safety__sector-content-9 {
    background: #FBF6F3;
    padding-bottom: 136px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.safety__sector-content-9 .safety-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
}

.hide-photo__shield {
    background: #F6F1EB;
    border: 2px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    border-radius: 20px;
    padding: 60px;
}

.safety__sector-content-9 li {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

.safety_content-description {
    padding: 0 60px;
}

.safety__sector-content-9 p:nth-of-type(1) {
    margin-bottom: 18px;
}

/* block 10 */
.safety__sector-content-10 p {
    margin: 24px 0;
}

.safety__sector-content-10 .safety_content-block {
    margin-right: 60px;
}

.safety__sector-content-10 .safety_info {
    margin-bottom: 64px;
}

/* block 11 */

.safety__sector-content-11 {
    background: #FBF6F3;
    border: 2px solid #000000;
    box-shadow: 5px 5px 0 #000000;
    border-radius: 20px;
    padding: 60px;
    margin: 0 186px;
}

.safety__sector-content-11 li {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

/* block 12 */

.safety__sector-content-12 {
    position: relative;
    background: #FBF6F3;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.safety__sector-content-12 .warn-icon {
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc(50% - 50px);
    top: -50px;
}

.safety__sector-content-12 h3 {
    margin-bottom: 18px;
}

.safety__sector-content-12 p {
    margin-bottom: 10px;
}

@media screen and (max-width: 1400px) {
    .section {
        padding-left: 26px;
        padding-right: 26px;
    }

    .safety__sector-content-11 {
        margin: 0 24px;
    }
}

@media screen and (max-width: 1025px) {
    .section {
        padding-top: 18px;
    }

    .safety_preview-block {
        min-width: 320px;
    }

    .safety__grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .safety__sector-content-1 {
        margin-bottom: 20px;
    }

    .safety__sector-content-1 h2 {
        font-size: 55px;
    }

    .safety__sector-content-1 .safety_info-title {
        font-size: 40px;
        margin: 0 0 20px;
    }

    .safety__sector-content-1 p {
        font-size: 22px;
    }

    .block-title,
    .item__title,
    .safety__sector-content-3 .safety-holder h2,
    .safety__sector-content-4 h3,
    h3,
    .safety__sector-content-6 .title {
        font-size: 30px;
    }

    .safety__sector-content-2 p {
        margin-bottom: 20px;
    }

    .aware__item .item__description,
    p,
    .safety__sector-content-9 li,
    .safety__sector-content-11 li {
        font-size: 16px;
    }

    .mark-h3,
    .aware__item .item__title,
    .safety__sector-content-3 .safety-holder h3,
    .safety__sector-content-6 h3 {
        font-size: 22px;
        margin-top: 0;
    }

    .aware__item .item__title {
        margin-bottom: 10px;
    }

    .slider__items p {
        margin-bottom: 12px;
    }

    .slider_date {
        font-size: 16px;
    }

    .slider__item {
        height: 760px;
    }

    .grid-item {
        font-size: 20px;
    }

    .safety__sector-content-4 {
        padding-bottom: 40px;
    }

    .safety__sector-content-5 h3 {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 640px) {
    .safety__sector-content-1 > .safety_holder,
    .safety__sector-content-6 > .safety_holder,
    .safety__sector-content-7 > .safety_holder,
    .safety__sector-content-8 > .safety_info,
    .safety__sector-content-10 > .safety_info {
        flex-wrap: wrap;
    }

    .safety_preview-block {
        order: 1;
    }

    .safety_content-block {
        order: 2;
    }

    .aware__item {
        margin-right: 0 !important;
        margin-bottom: 0 !important;
        width: 100% !important;
    }

    .aware__item + .aware__item {
        margin-top: 24px;
    }

    .safety__grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .safety__sector-content-5 .safety_preview-block {
        float: none;
    }

    .safety__sector-content-6 .safety_holder > div,
    .safety__sector-content-8 .safety_info > div,
    .safety__sector-content-10 .safety_info > div {
        width: 100%;
    }

    .safety__sector-content-7 .safety_text-block {
        margin: 0;
    }

    .safety__sector-content-7 .safety_text-block + .safety_text-block {
        margin-left: 0;
        margin-top: 24px;
    }

    .aware__items {
        margin-bottom: 0;
    }

    .safety__sector-content-3 .safety-holder h2 {
        margin: 0 0 20px 0;
    }

    .safety__sector-content-12 .warn-icon {
        top: -78px;
    }

    .block-title,
    .item__title,
    .safety__sector-content-3,
    .safety-holder h2,
    .safety__sector-content-4 h3,
    h3,
    .safety__sector-content-6 .title,
    .safety__sector-content-9 .safety-title,
    .safety_content-block h3 {
        font-size: 22px;
    }

    .safety_text-block {
        padding: 30px 55px 29px;
    }

    .safety__sector-content-7 p {
        margin: 8px 0 12px;
    }


    .safety__sector-content-3 {
        padding-bottom: 36px;
    }

    .safety_content-block {
        order: 1;
        margin-bottom: 20px;
    }

    .safety_text-block {
        order: 2;
    }

    .safety__sector-content-1 .safety_info-title {
        font-size: 25px;
    }

    .safety__sector-content-1 h2 {
        font-size: 42px;
    }

    .safety__sector-content-1 {
        margin-bottom: 30px;
    }

    .safety__sector-content-5 .safety_preview-block img:first-child {
        margin-left: 15px;
    }

    .mark-h3, .aware__item .item__title, .safety__sector-content-3 .safety-holder h3, .safety__sector-content-6 h3 {
        font-size: 18px;
        margin-top: 0;
    }

    .slider__item {
        padding: 16px;
    }

    .safety__sector-content-4 h3 {
        margin-bottom: 6px;
    }

    .safety_text-block {
        padding: 26px 17px 20px;
    }

    .safety__sector-content-8 {
        margin-top: 40px;
    }

    .hide-photo__shield {
        padding: 12px;
    }

    .safety_content-description {
        padding: 0 2px;
    }

    .safety__sector-content-9 {
        padding-bottom: 38px;
    }

    .safety__sector-content-10 .safety_content-block {
        margin-right: 22px;
    }
}

